<html>
    <head>
        <title>ForgotPasword</title>
        <link rel="stylesheet" href="../../ASSET/CSS/UserAuthentication-R/UserAuthentication.css" />
    </head>
    <body>
    <div id="forgot-container">
    <h1>Forgot Pasword?</h1>
    <form id="forgot-pass" method="post" action="">
    <label>Email : <input type="email" id ="email" name="email" value="" placeholder="Enter Your Email!" required></label> <br>
    <label>Updated Password : <input type="password" id="upassword" name="upassword" value="" placeholder="Enter new password" required></label><br>
    <label>Confirm Updated Password : <input type="password" id="cpassword" name="cpassword" value="" placeholder="Confirm new password" required></label>
    <button type="submit" name="submit" value="">ChangePassword!</button>
    </form>
    </div>
    <script src="../../ASSET/JS/UserAuthentication-R/ForgetPassword.js"></script>
    </body>
</html>